.footer {
  width: 100%;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1024px;

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &--column {
      li {
        color: #003580;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
  }
}
