.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 1024px;
  margin: 60px auto 0 auto;

  &__top {
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        font-size: 24px;
      }

      .address {
        align-items: center;
        display: flex;
        font-size: 12px;
        gap: 10px;
      }

      .distance {
        color: #0071c2;
        font-weight: 500;
      }

      .price-highlight {
        color: #008009;
        font-weight: 500;
      }
    }

    &--right {
      button {
        background-color: #0071c2;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        padding: 10px 20px;
      }
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--photo {
      width: 33%;

      img {
        cursor: pointer;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  &__bot {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;

    &--decription {
      flex: 3 1;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
        margin-top: 20px;
      }
    }

    &--offer {
      background-color: #ebf3ff;
      display: flex;
      flex: 1 1;
      flex-direction: column;
      gap: 20px;
      padding: 20px;

      h1 {
        color: #555;
        font-size: 18px;
      }

      span {
        font-size: 14px;
      }

      h2 {
        font-weight: 300;
      }

      button {
        background-color: #0071c2;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        padding: 10px 20px;
      }
    }
  }
}
